.main {
    padding-top: 300px;
}

.container {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

hr {
    color: #00e1ff;
    height: 2px;
    background-color: #00e1ff;
    border: none;
    width: 60px;
}

.text1 {
    padding: 10px;
}

.text2 {
    padding: 10px;
}

.line {
    color: #00e1ff;
    font-weight: bold;
}

.pos3 {
    padding-top: -13px;
}

.image {
    width: 60px;
    height: 60px;
    margin: auto;
}


