body {
    font-family: 'Rufina', serif;
    background: #f7f7f7;
}

/*.header {*/
    /*display: flex;*/
/*}*/


.header__logo {
     text-align: center;
     margin: 28px 0;
 }

.header__img {
    height: 70px;
}

.header__menu-title {
     text-transform: uppercase;
     display: flex;
     text-align: center;
     font-size: 16px;
     padding-top: -5px;
 }

li {
    list-style-type: none;
    padding: 0 24px;
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.header__link {
    text-decoration: none;
    /*list-style-type: none;*/
    cursor: pointer;
    color: #000000;
}

.main__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #474241;
    padding:9px;

}

.hr {
    box-shadow: 0 10px 6px -6px #777;
    width: 100%;
   margin-top: 17px;
}

.header__link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #a19795;
    transition: width .3s ease-in-out;
}

.header__link:hover:after{
    width: 100%;

}
.header__link:hover {
    font-weight: bold;
}

.ul__for__flex {
    display: flex;
    /*justify-content: center;*/
    margin: 0 auto;
}

.main__menu {
    display: flex;
    padding-top: 51px;
    font-weight: bold
}

.main__link:hover {
    background-color: #a19795;
}

.main__body {
    margin: 50px 0;
    /*margin-left: 30px;*/
}

.main__img {
    width: 100%;
    height: auto;
}

/*.main__img:hover {*/
     /*img:*/
/*}*/

/*not hover*/



.main__grayscale:hover .main__img:not(:hover) {
    filter: grayscale( 90%);
}


.main__margin {
    margin-bottom: 20px;
}



.skills {
    background-color: #605a58;
    height: 325px;
}

.skills__container {
    margin: 0 35px;
    border: #000000;
    padding-top: 40px;
}

.skills__logo {
    align-items: center;
}

.skills__about {
    display: flex;
}

.skills__common {
    padding-left: 15px;
}

.skills__title {
    color: #fff;
    font-size: 28px;
    font-family: Myriad;
}

.skills__lp {
    padding-left: 22px;
}

.skills__title2 {
    margin-right: 15px;
}

.skills__local {
    color: #ffffff;
    padding-top: 10px;
    display: flex;
}

.skills__img {
    padding-right: 16px;

}

.skills__img:hover {
    /*background-color: darkorange;*/

}

.skills__li {
    padding-top: 10px;
    padding-left: 22px;
}



.rectangle1 {
    background-color: #474241;
    /*474241*/
    margin-top: 4px;
    width: 1100px;
    height: 13px;
}

.rectangle2 {
    background-color: #908c8a;
    margin-top: 4px;
    width: 200px;
    height: 13px;
    /*f79440orange*/
}

.myskills__padding {
    padding-right: 25px;
}

.fl {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 18.5px;
}

.skills__li {
    display: flex;
}

.skills__graphic {
    margin-left: 20px;
}

.img__local {
    padding-top: 3px;
    padding-right: 5px;
    /*width: 10px;*/
    /*height: 12px;*/
}

.skills_desc {
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;

}

.skills_social {
    padding-top:11px;
}



.footer {
    display: flex;
    background: #474241;
    height: 45px;
    align-items: center;
}

.footer__link {
    color: #878381;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

.footer__copy {
    color: #fff;
    font-size: 12px;
    padding-top: 4px;
}

.footer__link:hover {
    color: #ffffff;
}

.footer__menu-title {
    display: flex;
    justify-content: space-between;
}

.footer__ul__flex {
    display: flex;
    margin: 0;

}

.footer__link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #a19795;
    transition: width .3s ease-in-out;
}

.footer__link:hover:after{
    width: 100%;
}


@media (max-width: 992px) {
    .main__menu {
        font-size: 10px;
        padding-top: 15px;
    }
}