.body {
    font-family: sans-serif;
}
#vert{
    height:100%;
    width: 1px;
    border:none;
    border-left: 1px solid #000;
}


html, body{height: 100%;}

hr.vertical
{
    width: 0px;
    height: 100%; /* or height in PX */
    bor
}
/*.vline{*/
    /*border-left: 1px solid #000000;*/
/*}*/

/*.hr-lines {*/
    /*height: 100%;*/
    /*border-width: 1px;*/
    /*position: absolute;*/
    /*margin: -70px -10px;*/
    /*!*border-color: #dcdadb;*!*/
/*}*/
/*.bg {*/
    /*background: url("../img/decorative-grid.png" ) no-repeat;*/
    /*display: block;*/
/*}*/

.main {
    position: relative;

}

.logo {
    text-align: center;
    display: block;
    margin: 70px;
}

.main-title {
    font-size: 80px;
    font-weight: bold;
    color: #0b6890;
    text-align: center;
    padding-top: 150px;

}

.text-item1 {
    font-size: 32px;
    color: #838383;
    text-align: center;
    line-height: 1.6;
    margin: 35px;
}

.identity {
    color: #c2c2c2;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.img-big {
    text-align: center;
    /*margin: 75px;*/
    padding-top: 75px;
}

.main-body {
    margin: 75px 0;
}

.video-iframe {
    width: 615px;
    height: 350px;
}

.video-item {
    padding-right: 40px;
    width: 665px;
}

.text-body {
    margin-top: -25px;
    padding-left: 150px;
    font-size: 20px;
    line-height: 200%;
    color: #6e6e6e;
}

.sign {
    text-align: right;
    color: #6e6e6e;
    margin: 5px;
    padding-right: 5px;
    font-style: italic;
    font-size: 20px;
}

.icolor:hover {
    color: #000;
}

i {
    font-size: 34px;
    line-height: 1.5;
    display: inline-block;
}


i + i {
    margin-left: 10px;
}

.icolor {
    color: #c4c4c4;
}

.pag {
    display: flex;
    justify-content: space-between;
    padding-bottom: 220px;


}

.pag {
    /*position: relative;*/
}

.contact-me {
    text-align: center;
    width: 270px;
    height: 60px;
    border: 1px solid #b5b5b5;
    color: #0b6890;
    font-size: 20px;
    letter-spacing: 6px;
    padding: 20px;
}

.padding-contact {
    padding-top: -10px;
}

.ar-left {
    width: 1405px;
    cursor: pointer;
}

.ar-right {
    width: 135px;
    margin-left: 102px;
    cursor: pointer;
}

.ar {
    width: 135px;
    text-align: center;
    font-size: 18px;
    color: #c2c2c2;
}

.dd {

}

.footer {
    position: relative;
    background: url("../img/bg--footer.png" ) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 380px;
}

.title-footer {
    color: #c1cfd4;
    font-size: 20px;
    margin: 15px;
}

.logo-footer {
    padding-top: 155px;
}

.prev:hover {
    color: #0b6890;
    font-weight: bold;

}

.ar-right .next:hover {
    color: #0b6890;
    font-weight: bold;

}

