
.color-main {
    background: #000;

}

p {
    font-size: 14px;
    padding: 10px;
}

.container {
    height: 1000px;
    color: #fff;
    text-align: center;

}

.row {
    padding-top: 150px;
}

.icon {
    width: 20px;
    height: 20px;
}

.p1 {
    font-size: 20px;
    padding: 25px;
}

.s3 {
    padding: -10px;
    margin: 10px;
}

.square {
    background: #ffad00;
    border-radius: 15px 0px 15px 0px;
    padding: 20px;
    margin: 0 auto;
    width: 70px;
}

