body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    /*font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;*/
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/

}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

li {
    display: inline;
    margin-right: -4px;
    padding: 5px;
}
.text-r {
    text-align: right;
    vertical-align: middle;
}
.row1 {
   padding: 15px
}

.size-a {
    font-size: 19px;
}

.container {
     display: block;
     max-width: 885px;
     width: 100%;
     margin: 0 auto;
 }

.header {
    width: 100%;
    /*height: 60px;*/
    background: #0752a5;
}

.main {
    width: 100%;
    height: 445px;
    background: #ffffff;
    text-align: center;

}

.footer {
    width: 100%;
    height: 512px;
    background: #0752a5;
    text-align: center;
}

.content1 {
    text-align: center;

}

.color-w {
    color: #fff;
    display: inline-block;
    padding: 7px;
}

.top1 {
    padding-top: 90px;
    font-weight: bold;
}

.top2 {
    padding-top: 20px;
}


.er {
    text-align: center;

}

.main-body {
    width: 100%;

}

.logos {
    padding-top: 90px;
}

.logo-footer {
    padding-top: 22px;
}

.cloth {
    padding-top: 25px;
}
.row {

}
.row:after {
    content: '';
    display: block;
    clear: both;
}
.col {
    float: left;
}

.col-1 {
    width: calc( (100% / 12) * 1 );
}
.col-2 {
    width: calc( (100% / 12) * 2 );
}
.col-3 {
    width: calc( (100% / 12) * 3 );
}
.col-4 {
    width: calc( (100% / 12) * 4 );
}
.col-5 {
    width: calc( (100% / 12) * 5 );
}
.col-6 {
    width: calc( (100% / 12) * 6 );
}
.col-7 {
    width: calc( (100% / 12) * 7 );
}
.col-8 {
    width: calc( (100% / 12) * 8 );
}
.col-9 {
    width: calc( (100% / 12) * 9 );
}
.col-10 {
    width: calc( (100% / 12) * 10 );
}
.col-11 {
    width: calc( (100% / 12) * 11 );
}
.col-12 {
    width: calc( (100% / 12) * 12 );
}



/*.phone {*/
    /*width: 325px;*/
    /*height: 545px;*/

/*}*/

/*.center {*/
    /*text-align: center;*/

/*}*/

/*.test {*/
    /*text-align: center;*/
/*}*/

/*img.displayed {*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto*/
/*}*/

/*rrr {*/
    /*text-align: center;*/
/*}.*/

.text-footer {
    text-align: center;
}

.clothing {
    padding-top: 15px;
    color: #063a6a;
    font-weight: bold;
    size: 18px;
    font-weight: bold;
}

.clothing-text {
    padding-top: 20px;
    font-weight: bold;

}

.phone {
    margin: 50px;
    width: 542px;
    height: 324px;
}