body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/main__pic.png");
    background-position: top;
    opacity: 0.3;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

p {
    color: #ffffff;
    padding: 0;
}

a {
    text-decoration: none;
}

.header__background {
    background-image: url("../img/simfoni.png");
    width: 100%;
    height: 540px;
    background-position: top;

}
.header_logo {

}


.header__logo img {
    width: 440px;
    height: 100px;
    margin-top: -18px;
    margin-left: -24px;
}

.header {
    width: 100%;
    display: flex;
    /*flex-wrap: wrap; !*перенос строки *!*/
    justify-content: space-between; /*прижимает содержимое к краям */
    padding-top: 38px;
    /*align-items: center; !*выравнивает элементы по центру на вертикальной *!*/
}

.header__center ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    line-height: 33px;
    margin-left: 10px;
    padding-left: 8px;
}

.header__center:hover {
    color: #FEEE64;
}


.header__left {
    /*display: flex;*/

}

.header__center{
    margin-left: 73px;
}

.header__center ul{
    display: flex;
    /*padding: 8px;*/
    /*padding-left: 10px;*/
}

.header__center a {
   border-bottom: none;
}

.header__r:hover {
    cursor: pointer;
}

.header__center a:hover {

    color: #FEEE64;
}



.aside {
    display: flex;
    /* padding: 40px; */
    margin-top: 47px;
    margin-left: 21px;

}

.aside__facebook__desc {
    padding: 8px -48px;
    /* width: 228px; */
    /* height: 81px; */
    box-shadow: #c4c4c4;
    font-size: 27px;
    font-family: "Rum Raisin";
    color: #5A80BE;
    box-shadow: 0 0 25px #9f9494;
    text-align: center;
    /*transform: rotate(-10deg);*/
    margin-bottom: 82px;
    margin-left: -48px;
    margin-top: 14px;
    padding-top: 7px;
    -webkit-transform: rotate(-10deg);
}
.aside__social__link:hover {
    cursor: pointer;
}

.main {
    padding-top: 27px;
    margin-left: -30px;
    margin-bottom: 465px;
}

.main__text1 {
    line-height: 20px;
    letter-spacing: 1px;
}

.main__text3 {
    line-height: 8px;
}

.footer {
    background: #767676;
    width: 100%;
    height: 240px;
}

.footer__wrap {
    text-align: center;
    color: #ffffff;
    padding: 17px;
    line-height: 0.7;
}

.footer__name {
    font-size: 24px;padding: 10px;
}

.footer__address {
    font-size: 18px;
    padding: 10px;
}


.footer__menu {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.footer__menu ul {
    display: flex;
    margin: 10px;
}



.footer__menu a {
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px;
}


.footer__social {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: -18px;
    padding: 25px;
}

.footer__social img {
    background: #ffffff;
    padding: 13px;
    margin: 12px;
}

.footer__color {
    width: 15px;
    height: 15px;
}

.footer__social a {
    display: flex;
}




