body {
    font-family: 'Poppins', sans-serif;
    /*background-image: url("../img/main__pic.png");*/
    /*background-position: top;*/
    /*opacity: 0.3;*/
}

li {
    list-style-type: none; /* Убираем маркеры */
}

p {
    color: #ffffff;
    padding: 0;
}

.header__background {
    background-image: url("../img/simfoni.png");
    width: 100%;
    height: 540px;
}

.header__logo img {
    width: 440px;
    height: 100px;
    padding-top: 0px;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /*перенос строки */
    justify-content: space-between; /*прижимает содержимое к краям */
    align-items: center; /*выравнивает элементы по центру на вертикальной */
}

/*.header {*/
    /*padding: 7px;*/
/*}*/

.header__menu {
    padding-left: 10px;
}

.header__center ul a {
    text-decoration: none;
    color: #fff;
    padding: 28px;
}

.header__center:hover {
    color: #FEEE64;
}


.header__left {
    display: flex;

}

.header__center{
    margin-left: -150px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.header .header__center ul{
    display: flex;
    padding: 8px;
    padding-left: 10px;
}

.header__center a {
   border-bottom: none;
}

.header__r:hover {
    cursor: pointer;
}

.header__center a:hover {

    color: #FEEE64;
}




