body {
    background: #9a0909;
}

.img {
    width: 150px;
    height: 200px;
}

.footer {
    color: #fff;
    text-align: center;
}

.t1 {
    width: 100%;
    border: 1px solid black;
    background: #000;
}

.color-text {
    color: white;
}


.t2 {
    border-collapse: separate;
    border-spacing: 4px;
    border: 2px solid black;
}


.lor {
    color: white;
}

.color-t {
    color: orangered;
}
