body {
    background: #9a0909;
}

.header {
    text-align: center;
}


.t1 {
    width: 100%;
    border: 1px solid black;
    background: #000;
}

.color-text {
    color: white;
}

.t2 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px;
    margin-top: -7px;

}

td {
}

.lor {
    color: white;
}

.color-t a {
    color: orangered;

}

.img-size {
    color: #fff;
}

.left-side-bar {
    width: 125px;
    background: darkred;
    padding: 5px;
}

.right-side-bar {
    width: 125px;
    background: #c4c4c4;

}

.news {
    background: gray;
    text-align: center;
    margin: 5px;
}

.prog-text {
    padding: 7px;
}
.f {

    background: darkorange;


}

.footer {
    color: #fff;
    text-align: center;
    height: 30px;
    padding: auto;

}
.foo {
    height: 30px;
    text-align: center;

}